---
const { title, features } = Astro.props
---
<article class="bg-white/10 backdrop-blur rounded-lg shadow-sm p-6 border border-slate/30 hover:border-primary/50 transition-all group h-[420px] flex flex-col items-center justify-center">
  <h3 class="text-cloud text-center text-2xl md:text-5xl" style="font-weight: 200; letter-spacing: 0.1em; text-transform: uppercase;">{title}</h3>

  <ul class="mt-6 space-y-2 text-center opacity-100 md:opacity-0 md:group-hover:opacity-100 transition-opacity duration-500">
    {features.map(f => (
      <li class="flex items-center justify-center gap-2 text-slate text-sm">
        <span class="text-primary">✓</span>
        <span>{f}</span>
      </li>
    ))}
  </ul>
</article>
