---
const { phone } = Astro.props
const href = phone ? `https://wa.me/${phone}` : '#'
---
<a href={href} class="fixed right-4 bottom-6 w-14 h-14 rounded-full bg-primary flex items-center justify-center shadow-lg" aria-label="WhatsApp">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22" fill="#fff">
    <path d="M20.52 3.48A11.93 11.93 0 0 0 12 0C5.373 0 .032 5.343.01 11.969-.005 15.21 1.36 18.192 4 20.34L3 24l3.7-.99A11.92 11.92 0 0 0 12 24c6.627 0 12-5.373 12-12 0-1.96-.46-3.81-1.48-5.52zM12 21.75a9.75 9.75 0 0 1-5.19-1.4l-.37-.23-2.2.59.59-2.15-.24-.36A9.75 9.75 0 1 1 21.75 12 9.77 9.77 0 0 1 12 21.75z"/>
  </svg>
</a>
